
body{
    margin: 0;
}

:root{
    --maincolor: #2196f3;
    --secondarycolor: #F5CD90;
}


#homewrap{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 850px 350px;
    background-color: var(--maincolor);
    grid-template-areas: 
    'hd1'
    'mn1'
    'ft1'
    ;
    gap: 10px;
}


#mainwrap1{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 25%;
    grid-template-rows: 400px 150px 250px;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    'at1-1 at1-2 img1-1'
    'img1-2 at1-2 img1-1'
    'img1-2 at1-3 img1-1'
    ;
    gap: 10px;
    grid-area: mn1;
    background-color: var(--maincolor);
}


#at1-1{
    grid-area: at1-1;
    background-color: var(--secondarycolor);
}

#at1-2{
    grid-area: at1-2;
    background-color: var(--secondarycolor);
}

#at1-3{
    grid-area: at1-3;
    background-color: var(--secondarycolor);
}

#img1-1{
    grid-area: img1-1;
    background-color: var(--secondarycolor);
}

#img1-2{
    grid-area: img1-2;
    background-color: var(--secondarycolor);
}



#hd1{
    grid-area: hd1;
    background-color: var(--maincolor);
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 60% 40%;
    justify-content: center;
    padding: 20px;
    grid-template-areas: 
    'hdh1'
    'nv'
    ;
}

#hdh1{
    grid-area: hdh1;

}

#nv{
    grid-area: nv;
    background-color:var(--secondarycolor);
}


#ft1{
    grid-area: ft1;
    background-color: var(--maincolor);
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: 100%;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    grid-template-areas:
    'ftat ftimg'
    ;
}

#ftat{
    grid-area: ftat;
    background-color: var(--secondarycolor);
}

#ftimg{
    grid-area: ftimg;
    background-color: var(--secondarycolor);
}


#cardwrap{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 850px 350px;
    background-color: var(--maincolor);
    grid-template-areas: 
    'hd1'
    'mn2'
    'ft1'
    ;
    gap: 10px;
}

#mainwrap2 {
    grid-area: mn2;
    display: flex;


}

.card{
    flex-basis: 25%;


}